[user]
	email = 139554989+thkinh@users.noreply.github.com.
	name = thkinh
[init]
	defaultBranch = main
[alias]
  a = add
  b = branch 
	c = commit -m
	ch = checkout
	l = log
	l1 = log --all --decorate --oneline --graph
	ss = status

[core]
	editor = vim
