# Ignore vim plugins 
vim/plugged/

# Ignore temporary and swap files
*.swp
*.swo
*~

# Ignore ssh private keys
ssh/id_*

# Ignore history files if you want 
bash/.bash_history 
vim/.viminfo
vim/.vimnetrwhist
# Ignore dotnet/gradle build outputs 
gradle/caches/ 
gradle/wrapper/ 
system/dotnet/
