@import url("/home/thkinh/.cache/wal/colors-waybar.css");
#window {
    margin: 0px;
    border: 0px solid @color9
    background-color: @background
}

#input {
    margin: 5px;
    border: none;
    color: @color7; 
    background-color: @background
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @background
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @color5
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @foreground; /* cor do texto (bege claro) */
}

#entry:selected {
    background-color: @color3
}
