@import url("/home/thkinh/.cache/wal/colors-waybar.css");

* {
    font-family: 'Radio Canada Big', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

window#waybar {
    background-color: transparent;
    color: @background;
}

#workspaces button.active {
    color: @foreground;
}


#workspaces {
    background-color: @background;
    padding: 0 5.6px 0 0;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}

#battery,
#pulseaudio,
#backlight,
#custom-weather {
    color: @color5; /* color5 */
    background-color: @background; /* background */
    margin: 0 5px 0 0px;
    padding: 0 10px 0 10px; /* top, right, bottom, left */
}
#temperature {
  color: @color7;
  background-color: @background;
  margin: 0 2px 0 3px;
  padding: 0 5px 0 5px
}
#network {
    color: @color2; /* color2 */
    background-color: @background; /* background */
    margin: 0 5px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#clock {
    color: @color3; /* color3 */
    background-color: @background; /* background */
    margin: 0 5px 0 0;
    padding: 0 10px 0 10px;
}

#network {
    color: @color4; /* color4 */
}

#pulseaudio {
    color: @color5; /* color5 */
    margin: 0 5px 0 0;/* top, right, bottom, left */
}

#backlight {
    color: @color5; /* color5 */
}

#custom-weather {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}
#custom-bluetooth {
    color: @color14; /* color2 */
    background-color: @background; /* background */
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}
#cpu {
  color: @color6;
  background-color: @background;
  padding: 0 5px 0 5px; /* top, right, bottom, left */
  margin: 0 2px 0 2px;
}
#memory {
  color: @color7;
  background-color: @background;
  padding: 2px 10px 0 10px;
  margin: 0 3px 0 3px;
}
#custom-ibus {
  color: @color7;
  background-color: @background;
  padding: 0px 5px 0 5px;
  margin: 0 3px 0 0;
} 
#custom-media {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}
#tray {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}
